# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [1]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine

In [2]:
# Create a connection to the database
engine = create_engine("postgresql://postgres:postgres@localhost:5432/fraud_detection")

In [3]:
# Write function that locates outliers using standard deviation
def find_outliers_sd(card_holder=1):
    query = (
        "SELECT t.date, t.amount, t.card "
        + "FROM transaction AS t "
        + "JOIN credit_card AS cc ON cc.card = t.card "
        + "JOIN card_holder AS ch ON ch.id = cc.cardholder_id "
        + "WHERE ch.id = "
        + str(card_holder)
        + " ORDER BY date"
    )
    data = pd.read_sql(query, engine)
    elements = data["amount"]
    mean = np.mean(elements, axis=0)
    sd = np.std(elements, axis=0)
    # 3 standard deviations are taken for analysis purposes
    high_transaction = [x for x in elements if (x > mean + (2 * sd))]
    if len(high_transaction) > 0:
        query = (
            "SELECT t.date, t.amount, t.card "
            + "FROM transaction AS t "
            + "JOIN credit_card AS cc ON cc.card = t.card "
            + "JOIN card_holder AS ch ON ch.id = cc.cardholder_id "
            + "WHERE ch.id = "
            + str(card_holder)
            + " AND t.amount IN ("
            + str(high_transaction)[1:-1]
            + ") "
            + "ORDER BY date"
        )
        data = pd.read_sql(query, engine)
        return data
    else:
        return "There are no fraudulent transactions identified for this card holder"

In [4]:
# Find anomalous transactions for 3 random card holders
random_customer_1 = np.random.randint(1, 25)
print("Customer_ID: ", random_customer_1)
find_outliers_sd(random_customer_1)

Customer_ID:  24

         date  amount            card
0  2018-03-20  1011.0  30142966699187
1  2018-04-21   525.0  30142966699187
2  2018-05-08  1901.0  30142966699187
3  2018-12-21  1301.0  30142966699187
4  2018-12-25  1035.0  30142966699187

In [5]:
random_customer_2 = np.random.randint(1, 25)
print("Customer_ID: ", random_customer_2)
find_outliers_sd(random_customer_2)

Customer_ID:  3

         date  amount            card
0  2018-03-01  1119.0  30078299053512
1  2018-07-11  1159.0  30078299053512
2  2018-07-14  1160.0  30078299053512
3  2018-10-19  1053.0  30078299053512
4  2018-11-20  1054.0  30078299053512

In [6]:
random_customer_3 = np.random.randint(1, 25)
print("Customer_ID: ", random_customer_3)
find_outliers_sd(random_customer_3)

Customer_ID:  17

Empty DataFrame
Columns: [date, amount, card]
Index: []

## Identifying Outliers Using Interquartile Range

In [7]:
# Write a function that locates outliers using interquartile range
def find_outliers_iqr(card_holder=1):
    query = (
        "SELECT t.date, t.amount, t.card "
        + "FROM transaction AS t "
        + "JOIN credit_card AS cc ON cc.card = t.card "
        + "JOIN card_holder AS ch ON ch.id = cc.cardholder_id "
        + "WHERE ch.id = "
        + str(card_holder)
        + " ORDER BY amount"
    )
    data = pd.read_sql(query, engine)
    elements = data["amount"]
    iqr_upper = np.percentile(elements, 75, interpolation = 'midpoint')
    iqr_lower =  np.percentile(elements, 25, interpolation = 'midpoint')
    iqr = iqr_upper - iqr_lower
    # upper end of the interquartile range + (1.5 * iqr) are taken for analysis purposes
    high_transaction = [x for x in elements if x > (iqr_upper + (1.5 * iqr))]
    if len(high_transaction) > 0:
        query = (
            "SELECT t.date, t.amount, t.card "
            + "FROM transaction AS t "
            + "JOIN credit_card AS cc ON cc.card = t.card "
            + "JOIN card_holder AS ch ON ch.id = cc.cardholder_id "
            + "WHERE ch.id = "
            + str(card_holder)
            + " AND t.amount IN ("
            + str(high_transaction)[1:-1]
            + ") "
            + "ORDER BY date"
        )
        data = pd.read_sql(query, engine)
        return data
    else:
        return "There are no fraudulent transactions identified for this card holder"

In [8]:
# Find anomalous transactions for 3 random card holders
random_customer_1 = np.random.randint(1, 25)
print("Customer_ID: ", random_customer_1)
find_outliers_iqr(random_customer_1)

Customer_ID:  9

          date  amount            card
0   2018-03-04  1534.0  30181963913340
1   2018-03-26  1009.0  30181963913340
2   2018-04-11   325.0  30181963913340
3   2018-05-30   245.0  30181963913340
4   2018-06-10  1795.0  30181963913340
5   2018-06-17   691.0  30181963913340
6   2018-07-13   267.0  30181963913340
7   2018-09-25  1095.0  30181963913340
8   2018-10-07  1179.0  30181963913340
9   2018-12-05    57.0  30181963913340
10  2018-12-19  1724.0  30181963913340

In [9]:
random_customer_2 = np.random.randint(1, 25)
print("Customer_ID: ", random_customer_2)
find_outliers_iqr(random_customer_2)

Customer_ID:  11

'There are no fraudulent transactions identified for this card holder'

In [10]:
random_customer_3 = np.random.randint(1, 25)
print("Customer_ID: ", random_customer_3)
find_outliers_iqr(random_customer_3)

Customer_ID:  4

'There are no fraudulent transactions identified for this card holder'